<section>
    <div class="section section-signup page-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 mx-auto">
                    <div class="card card-login">
                        <div class="form">

                            <div class="card-header card-header-primary text-center">
                                <h4 class="card-title">Sign Up</h4>
                            </div>

                            <div class="card-body">
                                <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                                    <%= render "devise/shared/error_messages", resource: resource %>

                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="material-icons">face</i>
                                        </span>
                                        </div>
                                        <%= f.text_field :name, autofocus: true, class:"form-control", id:"inputName", placeholder:"Name"%>
                                    </div>

                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="material-icons">mail</i>
                                        </span>
                                        </div>
                                        <%= f.email_field :email, autofocus: true, type:"email", class:"form-control", id:"inputEmail", placeholder:"Email"%>
                                    </div>

                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="material-icons">lock_outline</i>
                                        </span>
                                        </div>
                                        <%= f.password_field :password, autocomplete: "off", type:"password", class:"form-control", id:"inputPassword", placeholder:"Password" %>
                                    </div>

                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="material-icons">check_circle_outline</i>
                                        </span>
                                        </div>
                                        <%= f.password_field :password_confirmation, autocomplete: "off", type:"password", class:"form-control", id:"inputConfirmPassword", placeholder:"Password confirmation" %>
                                    </div>

                                    <div class="footer text-center">
                                        <%= f.submit "Submit", class:"btn btn-primary" %>
                                    </div>
                                
                                <% end %>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
