<section>
  <div class="section page-header my-page">
    <div class="container">
      <div class="row">
        <div class="card col-8 offset-2">
          <div class="card-body">
            <%= form_for(@cocktail, url: cocktails_path) do |f| %>
              <% if @cocktail.errors.any? %>
                <div id="error_explanation">
                  <h2><%= @cocktail.errors.count %>件のエラーが発生しました。</h2>
                  <ul>
                  <% @cocktail.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                  </ul>
                </div>
              <% end %>
              <br>
              <div class="row">

                <div class="image_wrapper offset-1">
                  <div class="item_image_btn">
                    <%= f.attachment_field :image, id: "file" %>
                  </div>
                  <button id="img_field" type="button" onClick="$('#file').click()" >
                    <p>クリックして写真を載せる</p>
                  </button>
                </div>

                <div class="col-md-3 offset-1">
                  <div class="form-group has-icon">
                    <%= f.text_field :cocktail_name, class:"form-control", placeholder:"カクテルの名前" %>

                      <%# <%= form_for(@material, url: cocktail_materials_path) do |g| %>
                        <%# <%= g.text_field :name, class:"form-control", placeholder:"materials" %>
                      <%# <% end %>

                      <br>

                      <div class="materials_wrapper">
                        <a href="" class="js-modal-open" target="_blank">
                          <h4 class="recipe_heading">材料</h4>
                          <div class="materials_list">
                            <div class="material_row row">
                              <div class="material_name col"><span class="name">ベーススピリッツ</span></div>
                              <div class="material_amount col">分量</div>
                            </div>
                            <div class="material_row row">
                              <div class="material_name col"><span class="name">副材</span></div>
                              <div class="material_amount col">分量</div>
                            </div>
                          </div>
                        </a>
                      </div>

                      <div class="modal js-modal">
                          <div class="modal__bg"></div>
                          <div class="modal__content">
                            <div class="row">
                              <h4 class="col text-center">材料</h4>
                              <h4 class="col text-center">分量</h4>
                            </div>
                            <div class="row">
                              <input type="text" name="name" class="col" value="ジン">
                              <input type="text" name="amount" class="col" value="30cc">
                            </div>
                            <div class="row">
                              <input type="text" name="name" class="col" value="トニックウォーター">
                              <input type="text" name="amount" class="col" value="フルアップ">
                            </div>
                            <a class="js-modal-close btn" href="">保存して閉じる</a>
                          </div><!--modal__inner-->
                      </div><!--modal-->

                  </div>
                </div>

              </div>

              <hr>

              <div class="row">
                  <div class="col-3 offset-1">
                    <h5 class="text-center">アルコール度数</h5>
                    <ul class="nav nav-pills nav-pills-rose">
                      <li class="nav-item"><a class="nav-link" href="#pill1" data-toggle="tab">Strong</a></li>
                      <li class="nav-item"><a class="nav-link active" href="#pill2" data-toggle="tab">Normal</a></li>
                      <li class="nav-item"><a class="nav-link" href="#pill3" data-toggle="tab">None</a></li>
                    </ul>
                  </div>
                  <div class="col-8">
                    <div class="font-italic alcohol-text">
                      STRONG : アルコール度数 10%以上（ex. ショートカクテル）
                      <br> NORMAL : アルコール度数 5〜10%（ex. ロングカクテル）
                      <br> NONE : ノンアルコール
                    </div>
                  </div>
              </div>

              <hr>
              <div class="row">
                <%= f.submit "レシピを公開する", class:"btn btn-md btn-block" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
