<section>
  <div class="section page-header my-page">
    <div class="container">
      <br><br><br><br>
      <div class="row">
        <div class="card">
          <div class="card-header card-header-text card-header-primary">
            <div class="card-text">
              <h4 class="card-title text-center">新しいカクテルレシピ</h4>
            </div>
          </div>
          <div class="card-body">
            <%= form_for(@cocktail, url: cocktails_path) do |f| %>
              <% if @cocktail.errors.any? %>
                <div id="error_explanation">
                  <h2><%= @cocktail.errors.count %>件のエラーが発生しました。</h2>
                  <ul>
                  <% @cocktail.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                  </ul>
                </div>
              <% end %>
              <br>
              <div class="row">
                <div class="col-md-2 offset-md-4">
                  <div class="form-group has-icon">
                    <label class="control-label sr-only">Cocktail name</label>
                    <%= f.text_field :cocktail_name, class:"form-control", placeholder:"cocktail name" %>
                  </div>
                </div>
                <div class="col-md-2 offset-md-4">
                </div>
              </div>
              <div class="row">
                <div class="col-md-2 offset-md-4">
                  <%= f.text_field :cocktail_material, class:"form-control", placeholder:"materials" %>
                </div>
              </div>

              <hr>

              <div class="row">
                <div class="col-md-4 offset-md-4">
                  <h5 class="text-center">Cocktail Image</h5>
                  <%= f.attachment_field :image %>
                </div>
              </div>

              <hr>

              <div class="row">
                  <div class="col-md-4 offset-md-4">
                    <h5 class="text-center">アルコール度数</h5>
                    <ul class="nav nav-pills nav-pills-rose">
                      <li class="nav-item"><a class="nav-link" href="#pill1" data-toggle="tab">Strong</a></li>
                      <li class="nav-item"><a class="nav-link active" href="#pill2" data-toggle="tab">Normal</a></li>
                      <li class="nav-item"><a class="nav-link" href="#pill3" data-toggle="tab">None</a></li>
                    </ul>
                  </div>
                  <div class="col-md-5 offset-md-4">
                    <div class="tab-content tab-space">
                      STRONG : アルコール度数 10%以上（ex. ショートカクテル）
                      <br> NORMAL : アルコール度数 5〜10%（ex. ロングカクテル）
                      <br> NONE : ノンアルコール
                    </div>
                  </div>
              </div>

              <hr>
              <div class="row">
                <%= f.submit "登録", class:"btn btn-md btn-block" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
