<%= form_for(@cocktail, url: cocktails_path) do |f| %>
  <% if @cocktail.errors.any? %>
    <div id="error_explanation">
      <h2><%= @cocktail.errors.count %>件のエラーが発生しました。</h2>
      <ul>
      <% @cocktail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <%= f.attachment_field :image %>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="form-group has-icon">
        <label class="control-label sr-only">Cocktail name</label>
        <%= f.text_field :cocktail_name, class:"form-control", placeholder:"cocktail name" %>
        <span class="fa fa-building form-control-icon" aria-hidden="true"></span>
      </div>
    </div>
    <div class="col-md-4 offset-md-4">
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <%= f.text_area :cocktail_material, class:"form-control", rows:"3", placeholder:"materials" %>
    </div>
  </div>
  <hr>
  <%= f.submit "送信", class:"btn btn-lg btn-block btn-base-1 mt-20" %>
<% end %>