<section class="profile-page">
  <div class="wrapper">
    <div class="page-header header-filter" data-parallax="true" style="background-image: url(https://images.unsplash.com/photo-1541491263892-731bc0c6a2ae?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80);"></div>
    <div class="main main-raised">
      <div class="profile-content">

        <div class="container">

          <div class="row">
            <div class="col-md-6 ml-auto mr-auto">
              <div class="profile">
                <%= form_for(@user) do |f| %>
                  <div class="avatar">
                    <div class="user-edit-image">
                      <%= attachment_image_tag @user, :profile_image, class: "img-raised rounded-circle img-resposive", fallback: "no_image.png", size: "160x160"%>
                    </div>
                    <label class="control-label sr-only" for="inputEmail">ProfileImage</label>
                    <%= f.attachment_field :profile_image, placeholder: "プロフィール画像", class: "user-edit-form" %>
                  </div>
                  <div class="form-group">
                      <label for="inputEmail">Name</label>
                      <%= f.text_field :name, autofocus: true, class:"form-control", id:"inputEmail", placeholder:"name"%>
                  </div>
                  <%= f.submit "変更を保存", class:"btn btn-lg btn-block btn-base-1 mt-20" %>
                <% end %>
              </div>
            </div>
          </div>

          <div class="description text-center">
            <p>An artist of considerable range, Chet Faker — the name taken by Melbourne-raised, Brooklyn-based Nick Murphy — writes, performs and records all of his own music, giving it a warm, intimate feel with a solid groove structure. </p>
          </div>

        </div>

      </div>
    </div>
  </div>
</section>

