<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Cocktails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="icon" href="../../assets/images/cocktail_icon.ico" type="image/svg+xml">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link href="https://use.fontawesome.com/releases/v5.6.4/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat+Subrayada" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:300" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <!-- CSS Files -->
    <%= stylesheet_link_tag "material-kit", :media => "all" %>

    <%= yield :css %>

  </head>

  <header>
    <nav class="navbar navbar-expand-lg navbar-light" style="z-index: 9999;">
      <div class="container">
      
        <a class="navbar-brand logo" href="/">Cocktails</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <%= link_to " Recipes ", cocktails_path, class: "nav-link" %>
            </li>
            <% if user_signed_in? %>
              <li class="nav-item">
                <%= link_to " MyPage ", user_path(current_user.id), class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to " logout ", destroy_user_session_path, class: "nav-link", method: :delete %>
              </li>
              <li>
                <%= link_to " NewRecipe ", new_cocktail_path, class: "nav-link" %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to " Sign up ", new_user_registration_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to " Login ", user_session_path, class: "nav-link" %>
              </li>
            <% end %>            
          </ul>
          <form class="form-inline ml-auto">
            <input class="form-control mr-sm-2" type="search" placeholder="Base spirit" aria-label="Search">
            <button class="btn btn-white btn-raised btn-fab btn-round" type="submit">
              <i class="material-icons">search</i>
            </button>
          </form>
        </div>

      </div>
    </nav>
  </header>

  <main>

    <body>

      <%= yield %>

    </body>

  </main>

</html>
